<div class="container">
    <div class="row p-5 justify-content-center">
      <div class="h3">
        <p>Contactame</p>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="direccion@email.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Escribe tu mensaje</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>


     <div class="d-grid gap-2 d-md-flex justify-content-md-center">
      <input class="btn btn-outline-primary " type="submit" value="Enviar">
     </div>
      
    </div>

  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <!--Formulario de contacto-->
