<!--Proyectos-->  

 <div class="container-fluid ">
   <div class="row pt-5 d-flex align-items-center">

     <div class="col-lg-3 m-3 col-sm-8 text-white bg-dark fs-2 mx-auto d-flex justify-content-center " style="height: 300px;">
       <a href="#" class="link-light d-flex align-items-center "><p>PROYECTO 1</p></a>
     </div>

     <div class="col-lg-3 m-3 col-sm-8 text-white bg-info fs-2 mx-auto d-flex justify-content-center" style="height: 300px;">
       <a href="#" class="link-light d-flex align-items-center"><p>PROYECTO 2</p></a>
     </div>

     <div class="col-lg-3 m-3 col-sm-8 text-white bg-primary fs-2 mx-auto d-flex justify-content-center" style="height: 300px;">
       <a href="#" class="link-light d-flex align-items-center"><p>PROYECTO 3</p></a>
     </div>

     

   </div>
 
</div>
<!--Proyectos-->  

<!--Espacio en blanco-->  
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
<!--Espacio en blanco-->  
